name: Run Linters
on:
  push:
  pull_request:
  schedule:
    - cron: '30 5 * * *'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Gemfile
      run: |
        touch .enable_dev
        sed -i "3isource 'https://rubygems.org'" Gemfile

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
        bundler-cache: true

    - name: Setup gems
      run: |
        bundle install --jobs 4 --retry 3

    - name: Run RuboCop
      run: |
        bundle exec rubocop -S

    - name: Run Slim-Lint
      run: |
        bundle exec slim-lint app/views
      if: always()
